<a class="thumbnail" href="{{ child.header.photo.link }}" data-position="left center"><img src="{{ child.header.photo.thumb }}" alt="" /></a>
<h2>{{ child.header.photo.title }}</h2>
<p>{{ child.header.photo.description }}</p>

